@font-face {
  font-family: 'Smooch Sans';
  src: url('/public/font/Smooch_Sans/static/SmoochSans-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #b5bac2;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  font-family: "Smooch Sans";
  color: rgba(250, 95, 92, 0.299);
  font-size: 100px;
  text-align: center;
  margin-bottom: 20px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  background: white;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

input[type="text"] {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  background-color: #62b4f5;
  color: white;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e6e6e6;
}

li span {
  flex-grow: 1;
  cursor: pointer;
}

li span.completed {
  text-decoration: line-through;
  color: #b0b0b0;
}

footer {
  text-align: center;
  margin-top: 10px;
}